{

	"presets":     [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }
],"flow"
],
	"plugins": ["typecheck",  "transform-class-properties","transform-export-extensions"]

}

//
//"syntax-flow", "transform-flow-strip-types",
//
//


//"transform-flow-strip-types",
//"typecheck",
//"syntax-flow",
//[
    //["env", {
      //"targets": {
//        "browsers": ["last 2 versions", "safari >= 7"]
//      }
//    }]


//"flow",
//	["es2015", { "modules": false }],
//	"stage-0"]
