{

	"presets": [
		"flow",
        ["es2015", { "modules": false }],
		"stage-0"
	],
	"plugins": ["typecheck",  "transform-class-properties"]

}

//
//"syntax-flow", "transform-flow-strip-types",
//
//


//"transform-flow-strip-types",
//"typecheck",
//"syntax-flow",
