{

    "presets": ["es2015-native-modules","stage-0"],
	"plugins": ["typecheck", "syntax-flow", "transform-flow-strip-types",  "transform-class-properties"]

}

//"transform-flow-strip-types",
//"typecheck",
//"syntax-flow",
