{
  "parser": "babel-eslint",
  "parserOptions": {
  "sourceType": "module",
  "allowImportExportEverywhere": false
},

  "rules": {
    "strict": 0
},
    "plugins": [
        "flowtype"
    ],

  "quotes": 2,
  "no-trailing-spaces": 2,
  "eol-last": 2,
  "no-unused-vars": 2,
  "no-underscore-dangle": 2,
  "no-alert": 2,
  "no-lone-blocks": 2

}
